{% extends "base.html" %}
{% block content %}<BR><BR>
<body><div class="wrapper">
  <div class="section section-description">
         <div class="container">
             <h2 class="section-title">Exercise</h2>
  <h4 class="text-left"><form id="exercise">
    {% for question in lesson.question_set.all %} {% autoescape off %}{{question.lesson_num}}. {{ question.question_text }} {% endautoescape %}
    <a href="javascript://" title="Exercise {{question.pk}} Hint" data-toggle="popover" data-trigger="focus" data-content="{% autoescape off %}<p style=font-size: 50%>{{question.hint}}</small>{% endautoescape %}">
      <small style="font-size: 70%">Need Help?</small></a>
  <BR> {% for choice in question.choice_set.all %} {% if choice.answer %}
    <label class="radio">
      <span class="icons">
      <span class="first-icon fa fa-circle-o"></span>
      <span class="second-icon fa fa-dot-circle-o"></span>
    </span>
    <input type="radio" name="question{{question.pk}}" data-toggle="radio" value=1 />
    {% autoescape off %}{{ choice.choice_text }}{% endautoescape %}
    </label>
    {% else %}
      <label class="radio">
        <span class="icons">
          <span class="first-icon fa fa-circle-o"></span>
          <span class="second-icon fa fa-dot-circle-o"></span>
        </span>
        <input type="radio" name="question{{question.pk}}" id="optionsRadios2" data-toggle="radio" value=0 />
        {% autoescape off %}{{ choice.choice_text }}{% endautoescape %}</label>
    {% endif %}
    <!--<label for="{{question.pk}}choice{{ forloop.counter }}"></label><br />-->
    {% endfor %}
 {% endfor %}

    <div class="col-sm-offset-6" style="display:table;margin: 0 auto;">
      <input type="button" class="btn btn-block btn-round btn-fill btn-default" id="submit" value="Submit">
    </div>
</form></h4>

<p id="grade"></p>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Hey!</h4>
        </div>
        <div class="modal-body" id="grade2">
          <p>You have not answered a question 😱, please go back and answer it and then you may submit. 😊</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div></div></div></body>
  <script>
  document.getElementById("submit").onclick = function() {
  var result=0;
  var corrections = new Array();
  var count=0;
  var i=0;
  var nul = false;
  var notanswered = new Array();
  {% for question in lesson.question_set.all %}
  try
  {
    if(nul ==false && parseInt(document.querySelector('input[name = "question{{question.pk}}"]:checked').value) != 1)
  {
  corrections[i] = "<BR>{{question.lesson_num}}"+". "+"{% autoescape off %}{{question.answer}} {% endautoescape %}";
  i++;
  }
  else {
    result++;
  }
  count++;
}
catch(err)
{
  $(document).ready(function() {
    var response = "You have not answered question {{question.lesson_num}} 😱, please go back and answer it and then you may submit. 😊";
    document.getElementById("grade2").innerHTML = response;
    $('#myModal').modal('show');
});

  return false;
}
  {% endfor %}
/*  if(nul)
  {
    var response = "You have not answered questions ";
    for(p = 0; p < notanswered.length; p++)
    {
      response += notanswered[p]+", ";
    }
    response += "😱, please go back and answer them and then you may submit. 😊";
    document.getElementById("grade").innerHTML = response;
    nul=false;
    notanswered= new Array();
  }
  else{*/
  if(result/count*100 < 75){
  document.getElementById("grade").innerHTML = "You got "+result+"/"+count+". Please retake the exercise!";
  for(j=0; j < corrections.length; j++)
  {
    document.getElementById("grade").innerHTML += corrections[j];
  }
  document.getElementById("grade").innerHTML += "<BR><p align=center><a href="+"/../lessons/{{lesson.lesson_id}}><button class="+ "btn btn-round btn-fill btn-info"+">Return to Lesson</button></a>"+"<a href="+" /../lessons/exercise/{{lesson.lesson_id}}><button class="+ "btn btn-block btn-lg btn-fill btn-info"+">Retake</button></a>";
}
  else
  {
    document.getElementById("grade").innerHTML = "You got "+result+"/"+count+". Good Job! If you would like to retake the test please choose different choices then hit submit!";
    for(j=0; j < corrections.length; j++)
    {
      document.getElementById("grade").innerHTML += corrections[j];
    }
    document.getElementById("grade").innerHTML += "<BR><p align=center><a href="+"/../lessons/{{lesson.lesson_id}}><button class="+ "btn btn-block btn-lg btn-fill btn-info"+">Return to Lesson</button></a>"+"<a href="+" /../lessons/exercise/{{lesson.lesson_id}}><button class="+ "btn btn-block btn-lg btn-fill btn-info"+">Retake</button></a>"+"<a href="+" /../lessons/quiz/{{lesson.lesson_id}}><button class="+ "btn btn-block btn-lg btn-fill btn-info"+">Quiz {{lesson.lesson_id}}</button></a>"

  }
/*}*/
  return false; // required to not refresh the page; just leave this here
  } //this ends the submit function
  </script>


{% endblock %}
