{% extends "base.html" %}
{% block content %}<BR><BR>
<div class="wrapper">
  <div class="section section-description">
         <div class="container">
             <h3 class="section-title">Password Reset Form</h3>
<form method="post" action="">
{% csrf_token %}
{% for field in form %}
      <p><h6 class="text-left">
        {{ field.label_tag }}<br></h6>
        {{ field }}
      {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
{% endfor %}
<div class="col-sm-2" style="">
<input type="submit" display:"inline-block" class="btn btn-default"  value="Reset" />
<input type="hidden" name="next" value="{% url 'home' %}" />
</div>
</form>
{% endblock %}
