{% extends 'base.html' %}

{% block content %}<BR><BR>
  {% if validlink %}
  <div class="wrapper">
    <div class="section section-description">
           <div class="container">
               <h3 class="section-title">Change password</h3>
               <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="col-sm-2" style="">
      <button type="submit" display:"inline-block" class="btn btn-default" >Change password</button>
    </div>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
</h6>
{% endblock %}
