{% extends "base.html" %}
{% block content %}
<h1>About Us</h1>
<BR>
<p>
  We are the Code Campers!!!
  CPP Camp so far is made up of three main components: homepage, lessons, and resources.
  The homepage of our website is designed to give a description of CPP Camp and allow newer users to start learning quickly and efficiently.
  The lessons tab is where the magic of CPP Camp happens; it is where students get to view our custom lessons, exercises, and quizzes.
  And finally, the resources tab is meant to provide students with the resources that they need to succeed in addition to our curriculum.
  For the second iteration, CPP camp will be focusing on the following features of which we have identified as high priority.
  In the current market, our product will stand out from others based on our unique vision of computer programming curriculum.
  It should be easy to access, easy to learn, and inspire creativity.
  Beginner students should feel comfortable going through the lesson plans and be inspired to code on their own.
</p>
<BR>
<BR>

{% endblock %}
