/* Don't touch anything below this please */

.midbutton {
    border-radius: 4px;
    background-color: gray !important;
    border: none;
    color: white !important;
    text-align: center;
    text-decoration: none !important;
    font-size: 16px;
    padding: 20px;
    width: 100px;
    transition: all 0.5s;
    margin: 5px;
}

.midbutton span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
    text-decoration: none !important;
}

.button {
    border-radius: 4px;
    background-color: gray !important;
    border: none;
    color: white !important;
    text-align: center;
    text-decoration: none !important;
    font-size: 16px;
    padding: 20px;
    width: 100px;
    transition: all 0.5s;
    margin: 5px;
}

.button span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
    text-decoration: none !important;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    color: white;
    background-color: gray;
    transition: 0.5s;
    text-decoration: none !important;
}

.button:hover span {
    padding-right: 25px;
    text-decoration: none !important;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
    text-decoration: none !important;
}

.backbutton {
    border-radius: 4px;
    background-color: gray !important;
    border: none;
    color: white !important;
    text-align: center;
    text-decoration: none !important;
    font-size: 16px;
    padding: 20px;
    width: 100px;
    transition: all 0.5s;
    margin: 5px;
}

.backbutton span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
    text-decoration: none !important;
}

.backbutton span:after {
    content: '«';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    color: white;
    background-color: gray;
    transition: 0.5s;
    text-decoration: none !important;
}

.backbutton:hover span {
    padding-left: 25px;
    text-decoration: none !important;
}

.backbutton:hover span:after {
    opacity: 1;
    left: 0;
    text-decoration: none !important;
}

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    border: none;
    text-align: left;
    outline: none;
    margin-left: 20%;
    font-size: 18px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: "Show Answers";
    color: #777;
    font-weight: bold;
    float: left;
    margin-left: 10px;
}

button.accordion.active:after {
    content: "Hide Answers";
}

div.panel {
    padding: 0 10px;
    padding-left:;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

button.hint {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 5px;
    border: none;
    text-align: left;
    outline: none;
    margin-left:;
    font-size: 12px;
    transition: 0.4s;
}

button.hint.active, button.hint:hover {
    background-color: #ddd;
}

button.hint:after {
    content: "Show Hint";
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.hint.active:after {
    content: "Hide Hint";
}

.sidenav2 {
    top: 150px;
    width: 10%;
    left: 50px;
    border-style: outset;
    border-color: gray;
    position: fixed;
}

.sidenav2 a {
    background-color: white;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none !important;
}

.sidenav2 a:not(:last-child) {
    border-bottom: none;
}

.sidenav2 a:hover {
    background-color: #d8d6e2;
    color: black;
    text-decoration: none !important;
}
