
A:link {
    text-decoration: underline;
    color: #1b00a2;
    font-family: Arial;
}

A:visited {
    text-decoration: underline;
    color: #1b00a2;
    font-family: Arial;
}

A:active {
    text-decoration: underline;
    color: #1b00a2;
    font-family: Arial;
}

a:hover {
    color: black;
    text-decoration: underline;
    text-transform: ;
    font-family: Arial;
    cursor: crosshair;
    font-size: ;
}

h1 {
    color: black;
    font-size: 25pt;
    font-family: Arial;
}

body, tr, td {
    font-family: arial;
    font-size: 12px;
    color: black;
}

b, B, strong, STRONG {
    font-weight: bold;
    color: black;
}

i, I, EM, em {
    font-weight: normal;
    color: A140C2;
}

U, u {
    font-weight: normal;
    color: green;
}

ul {
    list-style: square;
}

li {
    padding-left: 16px;
}

body {
    background: white;
}

pre {
    display: inline-block;
    background: orange;
}









/* Don't touch anything below this please */

.midbutton {
    border-radius: 4px;
    background-color: gray !important;
    border: none;
    color: white !important;
    text-align: center;
    text-decoration: none !important;
    font-size: 16px;
    padding: 20px;
    width: 100px;
    transition: all 0.5s;
    cursor: crosshair;
    margin: 5px;
}

.midbutton span {
    cursor: crosshair;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    text-decoration: none !important;
}

.button {
    border-radius: 4px;
    background-color: gray !important;
    border: none;
    color: white !important;
    text-align: center;
    text-decoration: none !important;
    font-size: 16px;
    padding: 20px;
    width: 100px;
    transition: all 0.5s;
    cursor: crosshair;
    margin: 5px;
}

.button span {
    cursor: crosshair;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    text-decoration: none !important;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    color: white;
    background-color: gray;
    transition: 0.5s;
    text-decoration: none !important;
}

.button:hover span {
    padding-right: 25px;
    text-decoration: none !important;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
    text-decoration: none !important;
}

.backbutton {
    border-radius: 4px;
    background-color: gray !important;
    border: none;
    color: white !important;
    text-align: center;
    text-decoration: none !important;
    font-size: 16px;
    padding: 20px;
    width: 100px;
    transition: all 0.5s;
    cursor: crosshair;
    margin: 5px;
}

.backbutton span {
    cursor: crosshair;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    text-decoration: none !important;
}

.backbutton span:after {
    content: '«';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    color: white;
    background-color: gray;
    transition: 0.5s;
    text-decoration: none !important;
}

.backbutton:hover span {
    padding-left: 25px;
    text-decoration: none !important;
}

.backbutton:hover span:after {
    opacity: 1;
    left: 0;
    text-decoration: none !important;
}

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    border: none;
    text-align: left;
    outline: none;
    margin-left: 20%;
    font-size: 18px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: "Show Answers";
    color: #777;
    font-weight: bold;
    float: left;
    margin-left: 10px;
}

button.accordion.active:after {
    content: "Hide Answers";
}

div.panel {
    padding: 0 10px;
    padding-left:;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

button.hint {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 5px;
    border: none;
    text-align: left;
    outline: none;
    margin-left:;
    font-size: 12px;
    transition: 0.4s;
}

button.hint.active, button.hint:hover {
    background-color: #ddd;
}

button.hint:after {
    content: "Show Hint";
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.hint.active:after {
    content: "Hide Hint";
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none !important;
    font-size: 17px;
    color: #818181 !important;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus {
    color: #f1f1f1 !important;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    top: 80%;
    left: 0;
    padding-top: 60px;
    /* Place content 60px from the top*/
    margin-left: 20%;
    margin-right: 20%;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
.sidenav2 {
    top: 150px;
    width: 10%;
    left: 50px;
    border-style: outset;
    border-color: gray;
    position: fixed;
}

.sidenav2 a {
    background-color: white;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none !important;
}

.sidenav2 a:not(:last-child) {
    border-bottom: none;
}

.sidenav2 a:hover {
    background-color: #d8d6e2;
    color: black;
    text-decoration: none !important;
}
