{% extends "base.html" %}
{% block content %}

<BR><BR><BR><BR>

<div class="container-fluid" style="padding-left:10px">
<h1>{{ lesson.name }}</h1>
</div>
{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}
<div class="container" style="width:100%">
  <div class="row">
    <nav class="col-sm-3">
      <ul class="nav nav-pills-blue nav-stacked" data-spy="affix" data-offset-top="205">
        {% for entry in lesson.entry_set.all %}
        <li><a href=#{{entry.lesson_header}}>{{entry.lesson_header}}</a></li>
        {% endfor %}
      </ul>
    </nav>
    <div class="col-sm-9" style="background-color:white">
      {% for entry in lesson.entry_set.all %}
      <span id={{entry.lesson_header}}></span>
      <h2>{{ entry.lesson_header }}</h2>
          <p>{% autoescape off %}{{ entry.lesson_text }}{% endautoescape %}<br /></p>
      {% endfor %}
      <div class="col-sm-3 col-sm-push-9"><a href="/../lessons/exercise/{{lesson.lesson_id}}"><button class="btn btn-block btn-primary">Next »</button></a></div>
  </div>
</div>
</div>
{% endblock %}
