{% extends "base.html" %}
{% block content %}
<h1>Quiz</h1>
<form id="quiz">
{% for quiz in lesson.quiz_set.all %} {% autoescape off %}{{quiz.lesson_num}}. {{ quiz.question_text }} {% endautoescape %}
<BR> {% for choice2 in quiz.choice2_set.all %} {% if choice2.answer %}
<input type="radio" name="quiz{{quiz.pk}}" value=1 />{% autoescape off %}{{ choice2.choice_text }}{% endautoescape %}
<BR> {% else %}
<input type="radio" name="quiz{{quiz.pk}}" value=0 />{% autoescape off %}{{ choice2.choice_text }}{% endautoescape %}
<BR> {% endif %}
<!--<label for="{{question.pk}}choice{{ forloop.counter }}"></label><br />-->
{% endfor %}
<BR> {% endfor %}
    <BR>
    <BR>
    <input type="button" id="submit" value="Submit">
    <BR>
    <BR>
</form>
<p id="grade"></p>
</div>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
  <script>
  document.getElementById("submit").onclick = function() {
  var result=0;
  var corrections = new Array();
  var count=0;
  var i=0;
  {% for quiz in lesson.quiz_set.all %}
  if(parseInt(document.querySelector('input[name = "quiz{{quiz.pk}}"]:checked').value) != 1)
  {
  corrections[i] = "<BR>{{quiz.lesson_num}}"+". "+"{% autoescape off %}{{quiz.answer}} {% endautoescape %}";
  i++;
  }
  else {
    corrections[i] = "<BR>{{quiz.lesson_num}}"+". "+"{% autoescape off %}{{quiz.answer}} {% endautoescape %}";
    i++;
    result++;
  }
  count++;
  {% endfor %}
  if(result/count*100 < 75){
  document.getElementById("grade").innerHTML = "You got "+result+"/"+count+". Please retake the quiz!"+"<BR><BR><BR><BR>";
  /*for(j=0; j < corrections.length; j++)
  {
    document.getElementById("grade").innerHTML += corrections[j];
  }*/
  document.getElementById("grade").innerHTML += "<BR><p align=center><a href="+"/../lessons/{{lesson.lesson_id}}"+ " class="+"backbutton"+"><span><font-size=14px>Return to Lesson</font></span></a>";
}
  else
  {
    document.getElementById("grade").innerHTML = "You got "+result+"/"+count+". Good Job! If you would like to retake the test please choose different choices then hit submit!"+"<BR><BR><BR><BR>";
    for(j=0; j < corrections.length; j++)
    {
      document.getElementById("grade").innerHTML += corrections[j];
    }

    document.getElementById("grade").innerHTML += "<BR><BR><BR><BR><BR><BR>";
    document.getElementById("grade").innerHTML += "<BR><p align=center><a href="+"/../lessons/{{lesson.lesson_id}}"+ " class="+"backbutton"+"><span><font-size=14px>Return to Lesson</font></span></a>"+"<a href="+"/../lessons/{{lesson.lesson_id|add:1}}"+" class="+"button"+"><span><font-size=14px>Next Lesson</font></span></a>";
  }

  return false; // required to not refresh the page; just leave this here
  } //this ends the submit function
  </script>
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        }
    }
</script>
{% endblock %}
