{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-ct-orange navbar-fixed-top" role="navigation" style="background-color:black">
    <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainnav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar bar1"></span>
        <span class="icon-bar bar2"></span>
        <span class="icon-bar bar3"></span>
      </button>
      <a class="navbar-brand" href="#">CPP Camp</a><center>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->

    <div class="collapse navbar-transparent navbar-collapse" id="mainnav">
      <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/">
                     Home
                </a>
            </li>
            <li class="Lessons">
                  <a href="/lessons/" class="dropdown-toggle" data-toggle="dropdown">
                    Lessons
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                        <a href="/lessons/">
                            Index
                        </a>
                    </li>
                    <li>
                        <a href="/lessons/1/">
                            Hello World
                        </a>
                    </li>
                    <li>
                        <a href="/lessons/2/">
                            Basic Syntax
                        </a>
                    </li>
                    <li>
                        <a href="/lessons/3/">
                            Data & Variable Types
                        </a>
                    </li>
                    <li>
                        <a href="/lessons/4/">
                            Loop
                        </a>
                    </li>
                    <li>
                        <a href="/lessons/5/">
                            Data Structures
                        </a>
                    </li>
                  </ul>
            </li>
            <li class="active">
                <a href="/resources/">
                     Resources
                </a>
            </li>
            {% if user.is_authenticated %}
            <li><a href="/logout/" class="btn btn-round btn-default">Sign-Out</a></li>
            {% else %}
            <li><a href="/login/" class="btn btn-round btn-default">Sign-in</a></li>
            <li><a href="/register/">Register</a></li>
            {% endif %}
       </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="bgimg-1">
  <div class="caption" style="background-color:white"><span class="border">
    <h3 class="text-center">Resources</h3>
    </div>
</div>
<div class="section section-description">
       <div class="container">
<h3 class=section-title>Integrated Development Environments (IDE)</h3>
Listed below are links to various integrated development environments (IDEs):
<BR>
<BR>
<a href=https://netbeans.org/downloads/ target="_blank">NetBeans</a>
<BR>
<a href=http://www.eclipse.org/downloads/packages/eclipse-ide-cc-developers/lunar target="_blank">Eclipse</a>
<BR>
<a href=https://www.visualstudio.com/downloads/ target="_blank">Visual Studio Community</a>
<BR><BR>
<h3 class="section-title">Code Campers C++ resources:</h3>
Here are some of the resources that the Code Camper crew found especially useful when scouring the internet for C++ knowledge.
<BR><BR>
<a href=http://www.cplusplus.com/ target="_blank">cplusplus</a><BR><BR>

Cplusplus.com is a great resource for finding information on the standard libraries and general C++ language. They also have a few introductory tutorials that can be useful for new students.
<BR><BR>
<a href=https://www.tutorialspoint.com/cplusplus/ target="_blank">Tutorialspoint</a><BR><BR>

Tutorialspoint.com has some of our favorite introductory lessons to much of the same topics that we cover in our lessons. If you are struggling with concepts we recommend you see if Tutorialspoint has any helpful material.
<BR><BR>
<a href=https://www.khanacademy.org/computing/computer-science target="_blank">Khan Academy</a><BR><BR>

Khan Academy is recognized as one of the greats when it comes to online learning. Khan Academy does not disappoint when explaining general computer science topics, but does not go into the specifics of the C++ language. Still, we recommend you use their videos to get general Computer Science background knowledge.
<BR><BR>
<a href=http://www.cprogramming.com/tutorial/lesson1.html target="_blank">Cprogramming.com</a><BR><BR>
Cprogramming.com is a great resource if you want something much more in-depth than the lessons that we offer. The downside for this is that many students get bored and tired after a single lesson, but nonetheless it is quality information.
</div></div>
{% endblock %}
